# SystemOne endpoint and API Key (Required)

## for self hosted instances change endpoint accordingly
ENDPOINT=api.typesafe.ai
API_KEY=<your-api-key>

# ViZDoom Scenario Configuration (Optional)
DOOM_SCENARIO=deathmatch.wad
DOOM_MAP=map01
